<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <!-- correct format for connecting to oralce DATABAE -->
	   <!-- oroacle datasource
	    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" scope="prototype">
	 	 <property name="driverClassName" value="oracle.jdbc.OracleDriver"></property>
	 	 <property name="url" value="jdbc:oracle:thin:@localhost:1521:bismillahora"></property>
	 	 <property name="username" value="system"></property>
	 	  <property name="password" value="ramiz3053"></property>
	 	   <property name="dataSourceName" value="ds"></property>
	    </bean>
	    -->
    
    
       <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" scope="prototype">
	 	 <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
	 	 <property name="url" value="jdbc:mysql://localhost:3306/test"></property>
	 	 <property name="username" value="root"></property>
	 	  <property name="password" value="root"></property>
	 	 <!--   <property name="dataSourceName" value="ds"></property>-->
	    </bean>
  
  <bean id="studentJdbcdao" class="com.ramizm.springJdbcTemplate.StudentDAOImplHandler">
	  <property name="dataSource" ref="dataSource"></property>
  </bean>
  
   <bean id="StudentClobHandler" class="com.ramizm.springjdbc.clob.StudentClobHandler">
	  <property name="datasource" ref="dataSource"></property>
  </bean>
    
    </beans> 
   <!--  
    <bean id="dataSource" class="oracle.jdbc.pool.OracleDataSource">
    <property name="dataSourceName" value="ds"/>
    <property name="URL" value="jdbc:oracle:thin:@<hostname>:<port_num>:<SID>"/>
    <property name="user" value="dummy_user"/>
    <property name="password" value="dummy_pwd"/>
</bean>
-->