<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>ramizJavaProject</display-name>
	
	
	<context-param>
	<param-name>contextConfigLocation</param-name>
	<param-value>classpath*:firstbeanExample.xml</param-value>
	</context-param>
	<listener>
	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	
	 <servlet>
      <servlet-name>Jersey RESTful Application</servlet-name>
      <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
         <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.rkm.rest.handler</param-value>
         </init-param>
		<init-param>
		    <param-name>com.sun.jersey.config.feature.TracePerRequest</param-name>
		    <param-value>true</param-value>
		</init-param>
		<init-param>
			    <param-name>com.sun.jersey.config.feature.Trace</param-name>
			    <param-value>true</param-value>
		</init-param>
		<init-param>
		  <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
		  <param-value>com.sun.jersey.api.container.filter.LoggingFilter</param-value>
</init-param>
		<init-param>
		    <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
		    <param-value>true</param-value>
	</init-param>
      </servlet>
	 <servlet>
	 	<description>
	 	</description>
	 	<display-name>rkmServletExampleHandler</display-name>
	 	<servlet-name>rkmServletExampleHandler</servlet-name>
	 	<servlet-class>com.rkm.servletHandler.rkmServletExampleHandler</servlet-class>
	 </servlet>
	 <servlet>
	 	<description>
	 	</description>
	 	<display-name>TestServletHandler</display-name>
	 	<servlet-name>TestServletHandler</servlet-name>
	 	<servlet-class>com.rkm.servletHandler.TestServletHandler</servlet-class>
	 </servlet>
	 <servlet>
	 	<description>
	 	</description>
	 	<display-name>SpringFirstBeansLoadBeanHandler</display-name>
	 	<servlet-name>SpringFirstBeansLoadBeanHandler</servlet-name>
	 	<servlet-class>com.spring.serlvet.SpringFirstBeansLoadBeanHandler</servlet-class>
	 </servlet>
	 <servlet-mapping>
	 	<servlet-name>rkmServletExampleHandler</servlet-name>
	 	<url-pattern>/rkmServletExampleHandler</url-pattern>
	 </servlet-mapping>
	 <servlet-mapping>
	 	<servlet-name>TestServletHandler</servlet-name>
	 	<url-pattern>/TestServletHandler</url-pattern>
	 </servlet-mapping>
	 <servlet-mapping>
	 	<servlet-name>SpringFirstBeansLoadBeanHandler</servlet-name>
	 	<url-pattern>/SpringFirstBeansLoadBeanHandler</url-pattern>
	 </servlet-mapping>
	<welcome-file-list>
		<welcome-file>abc.jsp</welcome-file>
	
	</welcome-file-list>
	
	<error-page>
	<exception-type>java.lang.Exception</exception-type>
	<location>/errorPage/errorMsg.jsp</location>
	</error-page>
	
</web-app>
